@import 'nav.css';

.hero-section{
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../img/header1.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}